Datasets/Raw/4G_LTE/
project.env
src/__pycache__/
src/data_transformation/__pycache__/
ToDo.txt
Research_Papers/
src/training_models/__pycache__/
src/trained_models/__pycache__/
src/logs/
src/helper_functions/__pycache__/
Own Papers/Brief Report on Findings
Datasets/Model_Outputs
model_tuning/
src/deprecated/
Own Papers/Undergraduate Paper/*.pdf
Own Papers/Undergraduate Paper/*.aux
Own Papers/Undergraduate Paper/*.synctex.gz
Own Papers/Undergraduate Paper/*.toc
Own Papers/Undergraduate Paper/*.bbl
Own Papers/Undergraduate Paper/*.dvi
Own Papers/Undergraduate Paper/*.log
Own Papers/Undergraduate Paper/*.blg
Own Papers/Undergraduate Paper/*.xml
Own Papers/Undergraduate Paper/*.bcf
run.bat
Datasets/Images/
